<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="https://maua.br/images/selo-60-anos-maua.svg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# **Introdução ao Colab**
---

Vamos aquecer? 


**Exercício 1**. Acesse ou construa um conjunto de dados numéricos, pares $(X, y)$ como os dados de temperatura C e F. Você pode por exemplo criar um `Numpy` array de valores e aplicar uma função, associar valores manualmente ou ler uma tabela (excel ou .csv). Em seguida empregue o exemplo do material anterior para fazer uma predição das saídas $y$ com base em um modelo de aprendizado linear.

**Exercício 2**. Altere no exercício anterior as entradas $X$ para dados com duas ou mais dimensões. $y$ agora será uma função com múltiplas entradas.

<img src="https://github.com/Rogerio-mack/work/raw/main/IMT/MLparadigmas_C2F.gif" width=800, align="center">

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.DataFrame()
df['reais'] = np.arange(0.00,300.00)
df['euros'] = df['reais'] * 0.18
df.head()

   reais  euros
0    0.0   0.00
1    1.0   0.18
2    2.0   0.36
3    3.0   0.54
4    4.0   0.72

In [5]:
from sklearn.linear_model import LinearRegression

X = df[['reais']]
y = df['euros']

regressor = LinearRegression()
regressor.fit(X,y)

LinearRegression()

In [9]:
a = 400.00
euro_prediction = regressor.predict(pd.DataFrame({'reais': [a]}))
print('R$:',a,'EUR: ' ,euro_prediction)

R$: 400.0 EUR:  [72.]